<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="HandheldFriendly" content="True">
	<title>FlowCarousel RequireJS example</title>
	<link rel="stylesheet" href="../dist/flow-carousel.css">
	<link rel="stylesheet" href="examples.css">
	<style>

	BODY {
		opacity: 0;
		transition: opacity 150ms;
	}
	BODY.ready {
		opacity: 1;
	}

	</style>
</head>
<body ng-controller="CarouselController">
	<h1>FlowCarousel</h1>
	<input type="text" ng-model="name"> {{name}}

	<h2>Basic example with static HTML content using attribute</h2>
	<div flow-carousel config="config" class="carousel carousel-horizontal">
		<div class="carousel-item carousel-item-odd">0</div>
		<div class="carousel-item">1</div>
		<div class="carousel-item carousel-item-odd">2</div>
		<div class="carousel-item">3</div>
		<div class="carousel-item carousel-item-odd">4</div>
		<div class="carousel-item">5</div>
		<div class="carousel-item carousel-item-odd">6</div>
		<div class="carousel-item">7</div>
		<div class="carousel-item carousel-item-odd">8</div>
		<div class="carousel-item">9</div>
		<div class="carousel-item carousel-item-odd">10</div>
		<div class="carousel-item">11</div>
		<div class="carousel-item carousel-item-odd">12</div>
		<div class="carousel-item">13</div>
		<div class="carousel-item carousel-item-odd">14</div>
		<div class="carousel-item">15</div>
		<div class="carousel-item carousel-item-odd">16</div>
		<div class="carousel-item">17</div>
		<div class="carousel-item carousel-item-odd">18</div>
		<div class="carousel-item">19</div>
		<div class="carousel-item carousel-item-odd">20</div>
		<div class="carousel-item">21</div>
		<div class="carousel-item carousel-item-odd">22</div>
		<div class="carousel-item">23</div>
		<div class="carousel-item carousel-item-odd">24</div>
		<div class="carousel-item">25</div>
		<div class="carousel-item carousel-item-odd">26</div>
		<div class="carousel-item">27</div>
		<div class="carousel-item carousel-item-odd">28</div>
		<div class="carousel-item">29</div>
	</div>

	<h2>Dynamic renderer from a dataset of {{data.length}} items</h2>
	<div flow-carousel config="config" data="getData()" item="item" class="carousel carousel-horizontal">
		<div class="carousel-item">
			{{$outer.name}} - {{item.index}}<br>
			{{item.randomNumber}}
		</div>
	</div>
	<div>
		<button ng-click="update()">Change random numbers</button>
		<button ng-click="insertFront()">Insert new item at front</button>
	</div>

	<h2>Custom deferred dataset example</h2>
	<div flow-carousel config="config" data="customDataSource" item="item" class="carousel carousel-horizontal">
		<div class="carousel-item">
			{{$outer.name}} - #{{item.index}}
		</div>
	</div>

	<script src="lib/jquery.js"></script>
	<script src="lib/angular.js"></script>
	<script src="../dist/FlowCarousel.min.js"></script>
	<script src="../plugins/angular/FlowCarouselDirective.js"></script>
	<!--script src="../dist/plugins/angular/FlowCarouselDirective.js"></script-->
	<script>

	// test asynchronous data source
	function CustomDataSource() {
		FlowCarousel.AbstractDataSource.call(this);

		var itemCount = 1000,
			i;

		this._data = [];

		for (i = 0; i < itemCount; i++) {
			this._data.push({
				index: i
			});
		}
	}

	CustomDataSource.prototype = Object.create(FlowCarousel.AbstractDataSource.prototype);

	CustomDataSource.prototype.getItemCount = function() {
		return this._data.length;
	};

	CustomDataSource.prototype.isAsynchronous = function() {
		return true;
	};

	CustomDataSource.prototype.getItems = function(startIndex, endIndex) {
		var deferred = new FlowCarousel.Deferred(),
			requestDuration = 1000; /// one second

		// fake asyncronous request that takes some time to complete
		window.setTimeout(function() {
			deferred.resolve(this._data.slice(startIndex, endIndex + 1));
		}.bind(this), requestDuration);

		return deferred.promise();
	};

	// create an angular application
	var angularApp = angular.module('CarouselApp', ['FlowCarousel'])
		.controller('CarouselController', function($scope) {
			var datasetSize = 1000,
				i;

			$scope.name = 'FlowCarousel';

			// carousel configuration
			$scope.config = {
				margin: 10
			};

			// simple array data example
			$scope.data = [];

			for (i = 0; i < datasetSize; i++) {
				$scope.data.push({
					index: i,
					randomNumber: Math.floor(Math.random() * 100)
				});
			}

			$scope.getData = function() {
				return $scope.data;
			}

			$scope.update = function() {
				for (i = 0; i < $scope.data.length; i++) {
					$scope.data[i].randomNumber = Math.floor(Math.random() * 100);
				}
			};

			$scope.insertFront = function() {
				$scope.data.unshift({
					index: 0,
					randomNumber: Math.floor(Math.random() * 100)
				});
			};

			// custom deferred data source example
			$scope.customDataSource = new CustomDataSource();
		});

	// fade in the page once angular is up and running
	angularApp.run(function() {
		$(document.body).addClass('ready');
	});

	// bootstrap the application
	angular.bootstrap(document.body, ['CarouselApp']);

	</script>
</body>
</html>