BODY {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    background-color: #F8F8F8;
    padding: 20px 20px 60px 20px;
}
.carousel {
    border: 10px solid #FFF;
    background-color: #EEE;
    overflow: hidden;
}
.carousel .carousel-item,
.flow-carousel-placeholder > DIV {
    background-color: #4F9BFF;
    line-height: 60px;
    padding: 0 20px;
    font-size: 40px;
    color: #FFF;
    text-align: right;
	overflow: hidden;
}
.carousel .carousel-item {
    display: none;
}
.carousel-item-odd {
    background-color: #5EFF40 !important;
}
.flow-carousel-placeholder > DIV {
    background-color: #CCC;
}

/* horizontal carousel */
.carousel-horizontal {
    height: 200px;
}
.carousel-horizontal .carousel-item,
.carousel-horizontal .flow-carousel-placeholder > DIV {
    height: 100%;
}

/* half-width carousel */
.carousel-halfwidth {
    width: 50%;
}

/* vertical carousel */
.carousel-vertical {
    width: 300px;
    height: 1000px;
}
.carousel-vertical .carousel-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* dynamic carousel */
.carousel-dynamic .carousel-item {
	height: 200px;
}
@media (min-width: 800px) {
	.carousel-dynamic .carousel-item {
		height: 400px;
	}
}
.carousel-item.image-or-link {
	padding: 0;
}
.carousel-item.image-or-link IMG {
	height: 100%;
	width: 100%;
}
.carousel-item.image-or-link A {
	display: block;
	height: 100%;
	background-color: #00814f;
	padding: 0 20px;
}

/* async carousel */
.carousel-initiating {
    display: table;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-initiating > DIV {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #FFF;
}
.carousel-loading {
    position: absolute;
    top: -30px;
    right: -10px;
    height: 20px;
    line-height: 20px;
    background-color: #FFF;
    padding: 0 10px;
    color: #333;
    border-radius: 3px 3px 0 0;
    opacity: 0;
    transition: opacity 150ms ease;
}
.carousel-loading-visible {
    opacity: 1;
}

/* controls */
.controls {
    margin: 10px 0 40px 0;
}